

/* RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --bg_main: #1B2433;
  --banner: #DEEFF7;
  --placeholder: #53627c;
  --text_dark: #1e2432;
  --text_yes: #EAEEDA;
  --text_no: #FCF2F5;
  --darkred: #c3112d;
  --orange: #ff8c00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}
 
input {
  -webkit-appearance: none;
}
 
input {
  border: none;
  background: none;
  outline: none;
  color: var(--banner);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

body {
  font: 1rem/1.3 "Roboto", sans-serif;
  background: var(--bg_main);
  color: var(--text_dark);
  padding: 2em;
  overflow-x: hidden !important;
}

.container {
  display: flex;
  align-self: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  max-width: 100% !important;
  overflow-x: hidden !important; 
}


/* SECTION #1
–––––––––––––––––––––––––––––––––––––––––––––––––– */
label:before {
  float: left;
}
label:after {
  float: right;
}

input {
  width: 70%;
  border-bottom: 3px solid var(--banner);
  align-items: center;
}

.top-banner {
  color: var(--banner);
  align-items: center;
}

.heading {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.02em;
  padding: 0 0 0 0;
}

.top-banner form {
  align-items: center;
}

.top-banner form input::placeholder {
  color: var(--placeholder); 
}

/*.top-banner form .msg {
  position: absolute;
  bottom: -40px;
  left: 0;
  max-width: 450px;
  min-height: 40px;
}*/


/* SECTION #2
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.ajax-section {
  display: flex;
  margin-top: 2em;
  letter-spacing: 0.02em;
  padding: 0 0 0 0;
}

.sweaterweather{
  font-size: 2rem;
  font-weight: bold;
}

.ajax-section .city-temp {
  font-size: 1rem;
  font-weight: normal;
}

/*
.ajax-section .city {
  position: relative;
  padding: 40px 10%;
  border-radius: 20px;
}

.ajax-section .city::after {
  content: '';
  width: 90%;
  height: 50px;
  position: absolute;
  bottom: -12px;
  left: 5%;
  z-index: -1;
  opacity: 0.3;
  border-radius: 20px;
}

.ajax-section figcaption {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}



.ajax-section .city sup {
  font-size: 0.5em;
}


.ajax-section .city-name sup {
  padding: 0.2em 0.6em;
  border-radius: 30px;
  color: var(--text_light);
  
}

.ajax-section .city-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}
*/

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– 
.page-footer {
  text-align: right;
  font-size: 1rem;
  color: var(--text_light);
  margin-top: 40px;
}

.page-footer span {
  color: var(--red);
}
*/

@media screen and (min-width:360px) {
  .heading{
  font-size: 3rem;
  }
  .sweaterweather{
    font-size: 3rem;
  }
  
  .ajax-section .city-temp {
    font-size: 2rem;
  }
}

@media screen and (min-width:530px) {
  .heading{
  font-size: 4rem;
  }
  .sweaterweather{
    font-size: 4rem;
  }
  
  .ajax-section .city-temp {
    font-size: 3rem;
  }
}

@media screen and (min-width:700px) {
  .heading{
  font-size: 7rem;
  }
  .sweaterweather{
    font-size: 7rem;
  }
  
  .ajax-section .city-temp {
    font-size: 4rem;
  }
}

@media screen and (min-width:1450px) {
  .heading{
  font-size: 9rem;
  }
  .sweaterweather{
    font-size: 9rem;
  }
  
  .ajax-section .city-temp {
    font-size: 5rem;
  }
}





/* MQ OLD
–––––––––––––––––––––––––––––––––––––––––––––––––– 
@media screen and (max-width: 1000px) {
  body {
    padding: 30px;
  }
  
  .ajax-section .cities {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .heading,
  .ajax-section .city-temp {
    font-size: 3rem;
  }
  
  .ajax-section {
    margin-top: 20px;
  }
  
  .top-banner form {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .top-banner form input,
  .top-banner form button {
    width: 100%;
  }

  .top-banner form button {
    margin: 20px 0 0 0;
  }
  
  .top-banner form .msg {
    position: static;
    max-width: none;
    min-height: 0;
    margin-top: 10px;
  }

  .ajax-section .cities {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  body {
    padding: 15px;
  }
  
  .ajax-section .cities {
    grid-template-columns: repeat(1, 1fr);
  }
}
*/